/*analoguous color scheme */

body {
	--hue: 200;
	--sat: 48;
	--lit: 50%;

    --sat1: calc(var(--sat) * 1%);
    --sat2: calc(calc(var(--sat) - 30) * 1%);
    
	--main-color: hsl(var(--hue), var(--sat1), var(--lit));
		
	--one: calc(var(--hue) + 35);
	--two: calc(var(--hue) - 56);
    --three: calc(var(--hue) - 4);
    

	--accent-one: hsl(var(--one), var(--sat1), var(--lit));
	--accent-two: hsl(var(--two), var(--sat1), var(--lit));
    --accent-three: hsl(var(--three), var(--sat2), var(--lit));
}

.post {
	border: 5px solid var(--main-color);
	margin: 0.5em;
	padding: 0.1em;
}


 .post .post-text {
	color: var(--accent-one);  
     font-weight: bolder;
}

 .post .post-date {
	color: var(--accent-two);
}


 .post .post-author {
	color: var(--accent-three);
}


