#container {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        'header header header header'
        'main main sidebar sidebar'
        'main main sidebar sidebar'
        'footer footer footer footer';

    grid-gap: 20px;
    background-color: #85929E;
    padding: 10px;
}

#container > div {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    background-color: #D6DBDF;
    /* border-style: solid;*/
}

/*shows that write-post and post are separate divs but act like one onthe grid*/
#write-post {
    background-color: #808080;
}

#posts {
    background-color: #cccccc;
}

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#sidebar {
    grid-area: sidebar;
}

#footer {
    grid-area: footer;
}

/*
RESPONSIVE DESIGN 
*/

@media (max-width: 700px) {

    /*    tablet layout style*/
    #container {
        grid-template-areas:
            'header header main main'
            'sidebar sidebar main main'
            'sidebar sidebar main main'
            'footer footer footer footer'

    }
}

@media (max-width: 400px) {

    /*    mobile layout style*/
    #container {
        grid-template-areas:
            'header header header header'
            'sidebar sidebar sidebar sidebar'
            'main main main main'
            'footer footer footer footer'

    }
}
