

/*header
auth
write post
posts
sidebar
footer*/

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        'header header header header'
        'main main sidebar sidebar'
        'main main sidebar sidebar'
        'footer footer footer footer';

    grid-gap: 20px;
    background-color: #85929E;
    padding: 10px;
}

#container > div {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    background-color: #D6DBDF;
    /* border-style: solid;*/
}
/*shows that write-post and post are separate divs but act like one onthe grid*/
#write-post {
    background-color: #808080;
}

#posts {
    background-color:   #cccccc;
}

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#sidebar {
    grid-area: sidebar;
}

#footer {
    grid-area: footer;
}